{% extends "main.html" %}
{% block content %}
{% include "sidebar.html" %}


{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="row flash">
                <div class="col s10 offset-s2">
                    <div class="card-panel blue darken-4">
                        <span class="white-text">{{ message }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<div class="row">
    <div class="col s10 offset-s2">
        <p>Please select a category to view the related items.</p>
        {%if 'username' not in session %}
        <div id="signinButton">
            <span class="g-signin"
                data-scope="openid email"
                data-clientid="269573011735-tfn02ooo0q2j86genel5j5l46mqh0pot.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">Login
            </span>
        </div>
        {% endif %}
    </div>
</div>


<script>
    function signInCallback(authResult){
        if (authResult['code']) {
            //hide signin button
            $('#signinButton').attr('style', 'display:none');

            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                data: authResult['code'],
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result){
                    if (result){
                        $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                        setTimeout(function() {
                        window.location.href = "/";
                        }, 4000);
                    } else if (authResult['error']){
                        console.log('There was an error ' + authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }
            });
        }
    }
</script>
{% endblock %}