<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
		
		<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">
		</script>

		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<meta name="google-signin-client_id" content="269573011735-tfn02ooo0q2j86genel5j5l46mqh0pot.apps.googleusercontent.com">

                 
		<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}"> -->
	</head>
	<body>
		
		<nav>
			<div class="nav-wrapper">
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<div id="signinButton">
							<span class="g-signin"
								data-scope="openid email"
								data-clientid="269573011735-tfn02ooo0q2j86genel5j5l46mqh0pot.apps.googleusercontent.com"
								data-redirecturi="postmessage"
								data-accesstype="offline"
								data-cookiepolicy="single_host_origin"
								data-callback="signInCallback"
								data-approvalprompt="force">Login
							</span>
						</div>
					</li>
				</ul>
			</div>
		</nav>
							
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
	<script>
		function signInCallback(authResult){
			if (authResult['code']) {
				//hide signin button
				$('#signinButton').attr('style', 'display:none');

				$.ajax({
					type: 'POST',
					url: '/gconnect?state={{STATE}}',
					processData: false,
					data: authResult['code'],
					contentType: 'application/octet-stream; charset=utf-8',
					success: function(result){
						if (result){
							$('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
							setTimeout(function() {
							window.location.href = "/landing";
							}, 4000);
						} else if (authResult['error']){
							console.log('There was an error ' + authResult['error']);
						} else {
							$('#result').html('Failed to make a server-side call. Check your configuration and console.');
						}
					}
				});
			}
		}
	</script>
</html>