{% extends "main.html" %}
{% block content %}
{% include "sidebar.html" %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="row flash">
                <div class="col s10 offset-s2">
                    <div class="card-panel blue darken-4">
                        <span class="white-text">{{ message }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="row">
    <div class="col s8 offset-s4">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <span class="card-title"><b>{{item.name}}</b></span>
                    <p>{{item.description}}</p>
                </div>
                {%if 'username' in session and user_id==item.user_id%}
                <div class="card-action">
                    <a href="{{url_for('editItem', category_id = category.id, item_id = item.id)}}">Edit</a>
                    <a class="modal-trigger" href="#modal1">Delete</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Are you sure you want to delete {{item.name}}?</h4>
    </div>
    <div class="modal-footer">
        <form action="{{url_for('deleteItem', category_id = category.id, item_id = item.id)}}"  method="GET">
            <button class="btn btn-default modal-close" type="submit">Delete</button>
        </form>
    </div>
</div>

<script>
    M.AutoInit();
</script>
{% endblock %}