{% extends "main.html" %}
{% block content %}
{% include "sidebar.html" %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="row flash">
                <div class="col s10 offset-s2">
                    <div class="card-panel blue darken-4">
                        <span class="white-text">{{ message }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="row">
    <div class="col s6 offset-s4">
        <h4>Items in category {{category.name}}</h4>
        {%if 'username' in session %}
        <a href="{{url_for('editCategory', category_id = category.id)}}" class="waves-effect waves-light btn">Edit this category</a>
        {% endif %}
        <div class="collection">
            {% for item in items %}
            <p class="collection-item"><a href="{{url_for('showItem', item_id = item.id, category_id = category.id)}}">{{item.name}}</p>
            {% endfor %}
        </div>
        {%if 'username' in session %}
        <a href="{{url_for('newItem', category_id = category.id)}}" class="waves-effect waves-light btn">Add a new Item</a>
        {% endif %}
    </div>
</div>

{% endblock %}