{% extends "main.html" %}
{% block content %}
{% include "sidebar.html" %}

<div class="col s6">
    <h4>Item</h4>
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                <span class="card-title">{{item.name}}</span>
                <p>{{item.description}}</p>
            </div>
            <div class="card-action">
                <a href="{{url_for('editItem', category_id = category.id, item_id = item.id)}}">Edit</a>
                <a href="#">Delete</a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}